<p class="shell-top-bar">WIQL Terminal</p>
<ul class="shell-body">
    <li>
        <mat-form-field class="wiql-cli">
            <textarea
                matInput
                cdkFocusInitial
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="6"
                [(ngModel)]="value"
            ></textarea>
        </mat-form-field>
    </li>
    <div style="text-align:right">
        <button mat-button class="terminal" (click)="newMessage()"><mat-icon aria-label="Execute">input</mat-icon> Run</button>
    </div>
</ul>