<div fxflex fxLayout="column" fxLayout.gt-xs="row">

    <h2 fxFlex fxFlexOrder="2" fxFlexOrder.gt-xs="1" >
        Backlog Viewer
        <br>
        <small>{{message}}</small>
    </h2>

    <div fxLayoutAlign="end center" fxFlex fxLayout="row" fxFlexOrder="1" fxFlexOrder.gt-xs="2">
        <mat-slide-toggle
            class="toggle-path-type"
            color="warn"
            matTooltip="in progress/stalled"
            [(ngModel)]="backlogTypeChecked"
            (change)="backlogTypeChanged($event)"
            labelPosition="before">
            {{backlogType}}
        </mat-slide-toggle>
        <span style="padding-left:20px;"></span>
        <button mat-button color="primary" matTooltip="export" aria-label="export" (click)="exportData()" [disabled]="this.dataSource.data.length < 1">
            <mat-icon>cloud_download</mat-icon> export
        </button>

        <button mat-button color="primary" matTooltip="refresh area" aria-label="refresh" (click)="setAreaPathData(_Activatedroute.snapshot.params['azurepath'], _Activatedroute.snapshot.params['pathtype'])" aria-label="refresh">
            <mat-icon>refresh</mat-icon> refresh
        </button>
    </div>

</div>
<div *ngIf="!isLoading && dataSource.data.length === 0">
    <button mat-button color="primary" routerLink="/search" routerLinkActive="active" matTooltip="go back to search">
        <mat-icon>arrow_back</mat-icon> Go back to search
    </button>
</div>
<form class="example-form" *ngIf="!isLoading">
    <mat-form-field class="example-full-width">
        <mat-icon matPrefix>filter_list</mat-icon>
        <input matInput placeholder="Filter visible by keyword or ID" (input)="filterChanged($event.target.value)">
        <mat-hint align="start">Once filtered, you must refresh the azure path to clear this filter.</mat-hint>
    </mat-form-field>
</form>
<div fxLayout="row" fxLayoutAlign="center" *ngIf="isLoading">
    <mat-spinner mode="indeterminate"></mat-spinner>
</div>
<div fxLayout="row" fxLayoutAlign="center" *ngIf="!isLoading && dataSource.data.length === 0">
    <h4>No Data Found</h4>
</div>
<div style="margin-top:10px;" *ngIf="!isLoading && dataSource.data?.length > 0">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
            <div fxLayout="column" fxLayoutAlign="center none" class="work-item-row">
                <div fxLayout="row" fxLayoutAlign="space-between center" style="clear: both;">
                    <div fxLayout="row" fxLayoutAlign="start center" class="work-item-icons-list">
                        <mat-icon
                            [ngClass]="{ 'background-epic': node.item.workItemType === 'Epic', 'background-feature': node.item.workItemType === 'Feature', 'background-pbi': node.item.workItemType === 'Product Backlog Item' || node.item.workItemType === 'User Story' || node.item.workItemType === 'Requirement', 'background-task': node.item.workItemType === 'Task', 'background-bug': node.item.workItemType === 'Bug' }"
                            >view_list
                        </mat-icon>
                        <span *ngIf="node.children && node.children.length > 0 && !treeControl.isExpanded(node)" matBadge="{{node.children.length}}" matBadgeOverlap="true" matBadgeColor="primary"></span>
                        <button mat-icon-button disabled></button>
                        <div fxLayout="column" fxLayoutAlign="center stretch">
                            <span class="area-path">{{node.item.id}} | {{node.item.areaPath}}</span>
                            <span class="title" matTooltip="{{node.item.title}}">{{node.item.title}}</span>
                            <span class="iteration">{{node.item.iterationPath}}</span>
                        </div>
                    </div>

                    <div class="work-item-icons-group">
                        <mat-icon class="inactive-icon" *ngIf="node.item.commentCount > 0" matBadge="{{node.item.commentCount}}" matBadgeColor="accent" matTooltip="{{node.item.commentCount}} comment(s)">chat</mat-icon>&nbsp;&nbsp;&nbsp;
                        <mat-icon class="inactive-icon" matTooltip="{{node.item.state}}">{{workItemStatesList[node.item.state] || 'assignment'}}</mat-icon>&nbsp;&nbsp;
                        <button mat-icon-button matTooltip="open work item">
                            <mat-icon aria-label="open" (click)="onNavigate(node.item.id)" class="open-in-browser">open_in_browser</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
            <div fxLayout="column" fxLayoutAlign="center none" class="work-item-row">
                <div fxLayout="row" fxLayoutAlign="space-between center" style="clear: both;">
                    <div fxLayout="row" fxLayoutAlign="start center" class="work-item-icons-list">
                        <mat-icon
                            [ngClass]="{ 'background-epic': node.item.workItemType === 'Epic', 'background-feature': node.item.workItemType === 'Feature', 'background-pbi': node.item.workItemType === 'Product Backlog Item' || node.item.workItemType === 'User Story' || node.item.workItemType === 'Requirement', 'background-task': node.item.workItemType === 'Task', 'background-bug': node.item.workItemType === 'Bug' }"
                            >view_list
                        </mat-icon>
                        <span *ngIf="node.children && node.children.length > 0 && !treeControl.isExpanded(node)" matBadge="{{node.children.length}}" matBadgeOverlap="true" matBadgeColor="primary"></span>
                        <button mat-icon-button
                                [attr.aria-label]="'toggle ' + node.id"
                                matTreeNodeToggle
                                *ngIf="!treeControl.isExpanded(node)"
                            ><mat-icon>
                              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                            </mat-icon>
                        </button>
                        <div fxLayout="column" fxLayoutAlign="center stretch">
                            <span class="area-path">{{node.item.id}} | {{node.item.areaPath}}</span>
                            <span class="title" matTooltip="{{node.item.title}}">{{node.item.title}}</span>
                            <span class="iteration">{{node.item.iterationPath}}</span>
                        </div>
                    </div>
                    <div class="work-item-icons-group">
                        <mat-icon class="inactive-icon" *ngIf="node.item.commentCount > 0" matBadge="{{node.item.commentCount}}" matBadgeColor="accent" matTooltip="{{node.item.commentCount}} comment(s)">chat</mat-icon>&nbsp;&nbsp;&nbsp;
                        <mat-icon class="inactive-icon" matTooltip="{{node.item.state}}">{{workItemStatesList[node.item.state] || 'assignment'}}</mat-icon>&nbsp;&nbsp;
                        <button mat-icon-button matTooltip="open work item">
                            <mat-icon aria-label="open" (click)="onNavigate(node.item.id)" class="open-in-browser">open_in_browser</mat-icon>
                        </button>
                    </div>
                </div>
                <div>
                    <mat-progress-bar 
                        *ngIf="node.isLoading"
                        mode="indeterminate"
                        class="example-tree-progress-bar"
                    ></mat-progress-bar>
                </div>
            </div>
        </mat-tree-node>
    </mat-tree>
</div>
