/*.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}*/

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.sidenav-container h4 {
  margin-bottom:0;
}

.body-content {
    padding:0 20px 0 20px;
    margin-bottom:60px;
    /* position: absolute; */
}

.background-epic {
    color: #FFB74D;
}

.background-feature {
    color: #9575CD;
}

.background-pbi {
    color: #81D4FA;
}

.background-task {
    color: #FFF176;
}

.background-bug {
    color: #FF3D00;
}

/*.state-new {
    color: #2E7D32;
}

.state-approved {
    color: #388E3C;
}

.state-in-progress {
    color: #43A047;
}

.state-committed {
    color: #4CAF50;
}

.state-development-complete {
    color: #66BB6A;
}

.state-done {
    color: #81C784;
}

.state-removed {
    color: #A5D6A7;
}*/
