<div fxLayout="row" fxLayoutAlign="space-between center">
	<h1>
		<small>Search</small>
	</h1>

	<mat-slide-toggle
		class="toggle-path-type"
		color="warn"
		[(ngModel)]="pathTypeChecked"
		labelPosition="before"
		matTooltip="search areas or iterations"
		(change)="pathTypeChanged($event)">
    	{{pathType}} Paths
    </mat-slide-toggle>
</div>

<div fxLayout="row" fxLayoutAlign="center" *ngIf="isLoading">
	<mat-spinner mode="indeterminate"></mat-spinner>
</div>

<div fxLayout="row" fxLayoutAlign="center" *ngIf="!isLoading && dataSource.data.length === 0">
	<h4>No Data Found</h4>
</div>

<div *ngIf="!isLoading && dataSource.data.length > 0">
	<form class="search-form">
		<mat-form-field class="full-width">
			<mat-icon matPrefix>search</mat-icon>
			<input type="text"
			placeholder="Find an azure path"
			aria-label="Find an azure path"
			matInput
			[formControl]="myControl"
			[matAutocomplete]="auto">
			<button mat-button *ngIf="myControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="myControl.value=''">
		    	<mat-icon>close</mat-icon>
		    </button>
			<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
				<mat-option *ngFor="let option of filteredOptions | async" [value]="option">
					{{option}}
				</mat-option>
			</mat-autocomplete>
			<mat-error *ngIf="myControl.invalid">{{getErrorMessage()}}</mat-error>
		</mat-form-field>
		<div fxLayout="row" fxLayoutAlign="space-evenly center">
			<button type="submit" [disabled]="myControl.invalid" (click)="viewBacklog(myControl.value, pathTypeChecked)" mat-raised-button color="primary" matTooltip="View Path">
				View
			</button>
			<!-- <button mat-raised-button color="primary" (click)="addNewWorkItem(myControl.value)" matTooltip="add a new PBI to the selected area path">New PBI</button> -->
		</div>
	</form>
</div>
