.tree-invisible {
  display: none;
}

.tree ul,
.tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.example-form {
  min-width: 300px;
  max-width: 800px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}